<section class="bg-purple py-20">
    <div class="container mx-auto px-6 max-w-6xl">
        <div class="grid md:grid-cols-2 gap-16 items-center">

                      <div class="flex justify-center">
                          <img src="/images/phone-mockup-1.png" alt="CoopVPN App" class="max-w-full h-auto drop-shadow-2xl">
                      </div>
                        <div>
                            <h2 class="text-4xl text-gray-300 font-bold mb-6">A VPN You Can Trust.</h2>
                            <p class="text-lg text-gray-300 mb-8 leading-relaxed">
                                Many VPNs make privacy claims they don't back up. CoopVPN is built by the developers behind RiseupVPN, CalyxVPN, and TorVPN. We run a strict no-logs service, publish 100% of our code as open source, and have undergone independent security audits by Cure53 and SRLabs. Organizationally, CoopVPN is worker-owned, with ownership and privacy policies designed to prioritize user protection over profit.
                            </p>
                            <p class="text-lg text-gray-300 font-bold mb-8 leading-relaxed typewriter">
                            Please beta test CoopVPN on Android, and let us know what you think!
                            </p>

                            <button class="btn btn-primary">Download on Google Play</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
